<!DOCTYPE html>
<htm>
    <head>
        <title>Página de atualizar caminhos</title>
    </head>
    <body>
        <h1>Atualizar novo caminho</h1>
        <p>Prencha as novas informaç~ies do caminho</p>
        <div>
            <form action="/atualizar" method="post">
                <input type="number" name="id" placeholder="ID">
                <input type="number" name="X" placeholder="X">
                <input type="number" name="Y" placeholder="Y">
                <input type="number" name="Z" placeholder="Z">
                <input type="number" name="R" placeholder="R">

                <button type="submit">Enviar</button>

                {{ mensagem }}
            </form>
        </div>
        <p>Voltar para a <a href="/">home</a></p>
    </body>
</htm>