<!DOCTYPE html>
<htm>
    <head>
        <title>Página de cadastro de caminhhos</title>
    </head>
    <body>
        <h1>Cadastrar novo caminho</h1>
        <p>Prencha suas informações</p>
        <div>
            <form action="/novo" method="post">
                <input type="number" name="X" placeholder="X">
                <input type="number" name="Y" placeholder="Y">
                <input type="number" name="Z" placeholder="Z">
                <input type="number" name="R" placeholder="R">

                <button type="submit">Enviar</button>
            </form>
        </div>
    </body>
</htm>